@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html {
    height: 100%;
    margin: 0;
    background: linear-gradient(135deg, #3f1d0c, #5B2B14, #4F2411, #F2E1C1);
    background-size: cover;
    background-attachment: fixed; 
}
body {
    min-height: 100%;
    margin: 0;
}
   
.navbar{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.navbar .nav-menu{
    display: flex;
    list-style-type: none;
}
.navbar .nav-menu .nav-link{
    margin: 0 5px;
}
.navbar .nav-menu .nav-link{
    display:inline-block;
    text-decoration: none;
    padding:0.3rem 1.3rem;
    font-size: 17px;
    font-weight: bold;
    color: rgb(218, 193, 157);
    border-radius: 20px;
    transition: 0.5s ease;

}
.navbar .nav-menu  .nav-link:hover{
    width: 100%;
    background: #B8860B;
}

.navbar :where(#menu-close-button,#menu-open-button){
    display: none;
}
nav img{
    height: 90px;
    width: 90px;
}
.tagline{
    color: rgb(191, 144, 25);
    font-family: 'Great Vibes', cursive;
}

.content h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EEE8AA;

}
.hero-section{
    min-height: auto;
    margin-left: 30px;
}

.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: bisque;
    justify-content: space-between;
}
.hero-section .hero-details .title{
    font-size:xx-large;
    color:#B8860B;
   font-family: 'Playfair Display', serif
}

.hero-section .hero-details .subtitle{
    margin-top: 8px;
    max-width: 70%;
    font-size: x-large;
    font-weight:bold;
    color: #dbd0bc;
    font-family: 'Playfair Display', serif;
   }
   .hero-section .hero-details .description{
     
     max-width: 70%;
     margin: 24px 0 40px;
     font-size: medium;
     font-family: 'Lora', serif;
     font-style: italic;
   }

   .hero-section .hero-details .button-group{
    
    display: flex;         
    gap: 20px;  
    
   }
   .hero-section .hero-details .btn {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: #5B2B14;
    background: #B8860B;
    border-radius: 50px;
    text-decoration: none;
    font-weight:600;
    transition: 0.3s ease;
}
.hero-section .hero-details .btn:hover,
.hero-section .hero-details .contact-us{
    background:transparent;
    color: white;
    border-color: white;
}

.hero-section .hero-details .contact-us:hover{
    background:#B8860B;
    color: white;
    border-color: #B8860B;
}
   

.hero-image{
    height: 600px;
    max-width: 350px;
    margin-right:30px;
}

@media screen and (max-width:900px) {


    body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0,0,0,0.2);
    }

    .navbar :where(#menu-close-button,#menu-open-button){
        display: block;
        font-size: large;

    }
    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
        background: transparent;
        color: black;
        border: none;
        
    }
    .navbar #menu-open-button{
        background: transparent;
        color: white;
        border: none;
    }
    
    .navbar .nav-menu{
        display: block;
        position: fixed;
        left:-300px;
        top: 0;
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background-color: white;
        transition: left 0.2s ease;

    }

    body.show-mobile-menu .navbar .nav-menu{
        left:0;
    }

    .navbar .nav-menu .nav-link{
        color: black;
        display: block;
        margin-top: 17px;
        font-size: large;
    }
    .hero-section .section-content{
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-section .hero-details :is(.subtitle,.description){
        max-width: 100%;
    }

    .hero-section .hero-details .button-group{
        justify-content: center;
    }

    .hero-section .hero-image-wrapper{
        max-width: 270px;
        margin-right: 0;
    }
}

footer{
    background: #311414;
    padding: 25px 0 ;
    color:antiquewhite;
}
.container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer{
    width: 30%;
}
h3{
    font-size: 22px;
    margin-bottom: 8px;
    text-align: center;
}
.footer-content p{
     width: auto;
     margin: 4px auto;
     padding: 3px 10px;
     text-align: center;
     font-size: 14px;
}
.list{
    padding: 4px;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none ;
    padding:7px;
    position: relative;
    
}
.list li a{
     text-decoration: none;
}
.list li::before{
    content: "";
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width:0;
    height: 2px;
    background-color: #f18930;
    transition-duration: 0.5s;
    
}
.list li:hover:before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;

}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
